.dropdown {
  max-width: 1023px;
  margin-bottom: clamp(20px, 4vw, 30px);
}

.dropdown__btn {
  background-color: var(--primary-color);
  height: clamp(30px, 6vw, 47px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: inherit;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  z-index: 5;
}

.dropdown__btn--accomodation {
  height: clamp(30px, 6vw, 52px);
  border-radius: 5px;
}

.dropdown__text {
  color: var(--btn-txt-color);
  font-weight: 500;
  font-size: clamp(13px, 3vw, 24px);
  display: inline-block;
  margin: 0 10px;
  line-height: 1;
}

.dropdown__text--accomodation {
  font-size: clamp(13px, 3vw, 18px);
}

.dropdown__arrow {
  width: clamp(15px, 3vw, 24px);
  margin: 0 10px;
}

.dropdown__arrow--open {
  transform: rotate(180deg);
}

.dropdown__content {
  line-height: 1.4;
  margin-top: -8px;
  background-color: var(--secondary-color);
  padding: clamp(17px, 4vw, 26px) clamp(10px, 4vw, 18px) clamp(10px, 4vw, 18px)
    clamp(10px, 4vw, 18px);
  font-size: clamp(12px, 3vw, 24px);
  border-radius: 5px;
  display: none;
}

.dropdown__content--accomodation {
  margin-top: -13px;
  padding: clamp(23px, 4vw, 31px) clamp(10px, 4vw, 18px) clamp(10px, 4vw, 18px)
    clamp(10px, 4vw, 18px);
  font-size: clamp(12px, 3vw, 18px);
  border-radius: clamp(5px, 3vw, 10px);
  height: clamp(100px, 20vw, 200px);
  overflow: scroll;
}

@media screen and (min-width: 768px) {
  .dropdown__btn--accomodation {
    border-radius: 10px;
  }
}
