.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: clamp(20px, 5vw, 60px);
  background-color: #fff;
}

.logo {
  height: clamp(42px, 7vw, 68px);
  width: fit-content;
}

.logo img {
  height: 100%;
}

.nav {
  color: var(--primary-color);
  font-weight: 500;
  text-transform: uppercase;
}

.link {
  white-space: nowrap;
  font-size: clamp(12px, 3vw, 24px);
}

.link:nth-child(2) {
  margin-left: clamp(10px, 4vw, 60px);
}

.link.active,
.link:hover {
  border-bottom: 2px solid var(--primary-color);
}

@media screen and (min-width: 768px) {
  .nav {
    text-transform: capitalize;
  }
}
